<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td><a href="{% url 'Administrator:districtInsertSelect' %}">District</a> </td>
        </tr>

        <tr>
            <td><a href="{% url 'Administrator:categoryInsertSelect' %}">Category</a> </td>
        </tr>
        <tr>
            <td><a href="{% url 'Administrator:placeInsertSelect' %}">Place</a> </td>
        </tr>
        <tr>
            <td><a href="{% url 'Administrator:departmentInsertSelect' %}">Department</a> </td>
        </tr>
        <tr>
            <td><a href="{% url 'Administrator:designationInsertSelect' %}">Designation</a></td>
        </tr>

        <tr>
            <td><a href="{% url 'Administrator:employeeInsertSelect' %}">Employee</a></td>
        </tr>

        <tr>
            <td><a href="{% url 'Administrator:courseInsertSelect' %}">Course</a></td>
        </tr>

       

        <tr>
            <td><a href="{% url 'Administrator:subjectInsertSelect' %}">Subject</a></td>
        </tr>
        
        <tr>
            <td><a href="{% url 'Administrator:semesterInsertSelect' %}">Semester</a></td>
        </tr>

        <tr>
            <td><a href="{% url 'Administrator:syllabusInsertSelect' %}">Syllabus</a></td>
        </tr>

        <tr>
            <td><a href="{% url 'Administrator:AdminInsertSelect' %}">Admin</a></td>
        </tr>
        
        
       
    </table>
</body>
</html>