<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject</title>
  </head>
  <body>
    
    <form method="POST">
      {% csrf_token %}
      <table align="center" border="1">
        <th colspan="4">Team Details</th>
        <tr>
          <td>Team Name</td>
          <td>
            <input
              type="text"
              name="txtname"
              placeholder="Enter the Team Name"
              required
              value="{{ editdata.team_name}}"
            />
          </td>
        </tr>
        <tr>
          <th colspan="4">
            <input type="submit" value="Save" name="btnsave" />
            <input type="reset" value="Cancel" name="btncancel" />
          </th>
        </tr>
      </table>
    </form>
  </body>
</html>
<table border="1" align="center" cellpadding="10">
  <tr>
    <th>Sl.No</th>
    <th>Team Name</th>
    <th>Action</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.team_name}}</td>
    <td>
      <a href="{% url 'Test:delteam' i.id %}">Delete</a>
      <a href="{% url 'Test:updateteam' i.id %}">Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>